* {
     box-sizing: border-box;
   }
   
@font-face {
     font-family: Raleway;
     src: url(assets\fonts\Raleway-Italic-VariableFont_wght.ttf);
}

h1 {
     /*accomodat ions and activities texts need to turn blue when picked */
}

 /*all of these should resize based on screen size*/