/* SITE-WIDE */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
     box-sizing: border-box;
     font-family: 'Raleway', sans-serif;
   }



* { margin: 0;
     padding: 0;
}



@font-face {
     font-family: Raleway;
     src: url('assets\fonts\static\Raleway-Black.ttf');
}

/* HEADER */
.header {
     min-height: 100vh;
     width: 100%;
     
}

.topimg {
     margin-left: 30px;
}



 /*all of these should resize based on screen size*/
.container {
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
 }

 .topbutton {
     font-family: Raleway, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
     margin: 10px;
     border-top: 3px;
     border-style: solid;
     border-left: 0px;
     border-right: 0px;
     border-bottom: 0px;
     padding-top: 88px;
     box-shadow: 2px  rgba(0,0,0,0.5);

 }
 .topbutton:hover{
     color: #0065FC;
     border-color: #0065FC;
     
 }

 
 
 .topbutton2 {
     font-family: Raleway, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     color: gray;
     margin: 10px;
     margin-right: 200px;
     border-top: 3px;
     border-style: solid;
     border-left: 0px;
     border-right: 0px;
     border-bottom: 0px;
     padding-top: 88px;
     padding-right: 30px;
     padding-left: 30px;
}

.topbutton2:hover{
     color: #0065FC;
     border-color: #0065FC;
}

.toptxt {
     margin-left: 30px;
}

.toptxt2 {
     margin-left: 30px;
}

/* NAV */
.nav{
     margin-left: 10px;
}

/* .search{
     display: flex;
     flex-direction: row;
     margin-top: 20px;
     margin-bottom: 20px;
     margin-left: 30px;
     width: 100%;
     max-width: 300px;
}

.icon{
     background-color:#F2F2F2 ;
     padding: 10px;
     border-top-left-radius: 5px;
     border-bottom-left-radius: 5px;
}

 .searchform {
     border-width: 1px;
     border-style: solid;
     border-color: #F2F2F2;
     flex-grow: 1;
     outline: none;
     padding: 10px;
 }

.searchbutton{
     border-top-right-radius: 5px;
     border-bottom-right-radius: 5px;
     background-color: blue ;
     padding: 10px;
     color: white;
} */

.searchbar {
     width: 100%;
     max-width: 300px;
     display: inline-flex;
     margin-left: 30px;
     margin-bottom: 30px;
     margin-top: 30px;
}

.searchbar__input{
     flex-grow: 1;
     padding: 10px;
     outline: none;
     border: 3px solid #F2F2F2;
     
     background: white;
     transition: background 0.25s, box-shadow 0.25s;
}

.searchbar__input:focus{
     background: white;
     box-shadow: 0 0 2px #0065FC;
}
     
.searchbar__input::placeholder{
     color: black
     
}

.searchbar__button {
     width: 60px;
     background: #0065FC;
     color: white;
     outline: none;
     border: none;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 0 5px 5px 0;
     cursor: pointer;
     user-select: none;
     padding: 0px;
}

.searchbar__button:active {
     box-shadow: inset 0 0 30px ;
}

.icon{
     background-color:#F2F2F2 ;
     padding: 10px;
     border-top-left-radius: 5px;
     border-bottom-left-radius: 5px;
     justify-content: center;
     align-items: center;
}

 .filter{
     margin-left: 40px;
     margin-right: 40px;
}

.nav-bars{
     display: flex;
     flex-direction: row
}

.navcostbutton{
     border-style: solid;
     border-width: 3px;
     border-color: #F2F2F2;
     border-radius: 20px;
     margin-right: 20px;
     padding: 9px 5px 9px 0px;
     margin-bottom: 10px;
     outline: none;
}

.cost1{
     color:#0065FC ;
     background-color: #DEEBFF;
     border-radius: 20px;
     border-style: solid;
     border-color: #DEEBFF;
     padding: 9px;
     margin-right: 10px;
     margin-bottom: 5px;
}

.family1{
     color:#0065FC ;
     background-color: #DEEBFF;
     border-radius: 100px;
     border-style: solid;
     border-color: #DEEBFF;
     padding: 7px;
     padding-left: 12px;
     padding-right: 12px;
     margin-right: 10px;
     margin-bottom: 10px;
     margin-top: 20px;
}

.roman1{
     color:#0065FC ;
     background-color: #DEEBFF;
     border-radius: 20px;
     border-style: solid;
     border-color: #DEEBFF;
     padding: 7px;
     margin-right: 10px;
     margin-bottom: 10px;
}

.pet1{
     color:#0065FC ;
     background-color: #DEEBFF;
     border-radius: 20px;
     border-style: solid;
     border-color: #DEEBFF;
     padding: 7px;
     margin-right: 10px;
     margin-bottom: 10px;
}

.navfamilybutton{
     border-style: solid;
     border-width: 3px;
     border-color: #F2F2F2;
     border-radius: 20px;
     margin-right: 20px;
     padding: 9px 5px 9px 0px;
     margin-bottom: 10px;
}

.navromanbutton{
     border-style: solid;
     border-width: 3px;
     border-color: #F2F2F2;
     border-radius: 20px;
     margin-right: 20px;
     padding: 9px 5px 9px 0px;
     margin-bottom: 10px;
}

.navpetbutton{
     border-style: solid;
     border-width: 3px;
     border-color: #F2F2F2;
     border-radius: 20px;
     margin-right: 20px;
     padding: 9px 5px 9px 0px;
     margin-bottom: 10px;
}

.infotxt {
     margin-left: 30px;
     margin-bottom: 20px;
     margin-top: 10px;
}

.infosign {
     border-radius: 40px;
     border-style: solid;
     border-color: gray;
     border-width: 2px;
     color: #0065FC;
     padding: 3px 8px 3px 8px;
}

.container-accom {
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     background-color: #F2F2F2;
     border-radius: 10px;
     width: 65%;
     margin-left: 30px;
     margin-right: 30px;
     float: left;
     justify-content: space-evenly;
     min-width: 60%;

}

/* ASIDE (ACCOM) */

.achead {
     margin-top: 20px;
     margin-right: 70%;
     clear: both;
     padding: 10px;
}

.accomcard {

     background-color: white;
     border-color: white;
     border-style: solid;
     border-width: 5px;
     border-radius: 30px;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
     width:350px;
     height: 50%;
     margin: 20px;
}

 /* .accomcard img {
     
     object-fit:scale-down;
     width: 100%;
     height:auto;
     border-top-left-radius: 30px;
     border-top-right-radius: 30px;
     margin: auto;
     
} */
/* RESIZE IMAGES TO IMAGE 1 SIZE  */
.card-image {
     height: 60%;
     width: 100%;
     border-radius: 30px 30px 0 0;
     object-fit: cover;
 }

 .card-image2 {
     height: 200px;
     width: 100%;
     border-radius: 30px 30px 0 0;
     object-fit:cover;
 }

/* adjust card image heights for images so lines 1 and 2 are same height */
.cardtxt {
     margin-left: 7px;
     line-height: 1.5;
}

/* .img1{
     width: 200px;
     height: 200px;
     object-fit: cover;
} */

.bgimg {
     background-image: url('images/accomodation/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg');
}

.bottxt {
     margin-right: 80%;
     margin-bottom: 30px;
     margin-top: 20px;
}

.container-pop {
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     background-color: #F2F2F2;
     border-radius: 10px;
     max-width: 30%;
     margin-left: 40px;
     

}

.bluestar {
     color: #0065FC;
}

.greystar {
     color: #F2F2F2;
}

/* ARTICLE (POPULAR) */
.poptxt {
     margin-left: 30px;
     margin-top: 10px;
}

.popcard {
     justify-content: space-between;
     background-color: white;
     border-color: white;
     border-style: solid;
     border-width: 5px;
     border-radius: 30px;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
     width: 80%;
     margin-top: 20px;
     margin-left: 30px;
     margin-bottom: 20px;
     height: 30%;
     flex-flow: column;
     flex-wrap: wrap;
     
}

.popcard img {
     object-fit: fill;
     width: 40%;
     height: 200px;
     border-top-left-radius: 30px;
     border-bottom-left-radius: 30px;
     float: left;
     margin-right: 10px;
}

.popcard p {
     line-height: 4;
     margin-bottom: 20px;
}



.acttxt{
     clear: both;
     margin-left: 30px;
     margin-top: 70px;
     padding: 10px;
}


.container-act {
     display: flex;
     flex-wrap: nowrap;
     flex-direction: row;
     max-width: 92%;
     width: 92%;
     clear: both;
     margin: 30px;
     margin-top: 10px;
     height: auto;
     justify-content: space-between;
     
    
}

.subcont-act {
     display: flex;
     flex-direction: column;
     height: 100%;
}

.actcard1 {

     background-color: white;
     border-color: white;
     border-style: solid;
     border-width: 0px;
     border-radius: 30px;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
     width:20%;
     height: 100%;
     margin: 25px;
}

.actcard2 {

     background-color: white;
     
     
     border-radius: 30px;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
     width:350px;
     height: 50%;
     margin: 20px;
}

.card-image3 {
     height: 480px;
     width: 100%;
     border-radius: 30px 30px 0 0;
     object-fit:cover;
}

.cardtxt {
     margin-left: 40px;
}

.cardtxt2 {
     margin: 15px;
}

.card-image4 {
     height: 100%;
     width: 100%;
     border-radius: 30px 30px 0 0;
     object-fit: cover;
 }

.footer {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     position:static;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: #F2F2F2;
     color: black;
     text-align: center;
     line-height: 2;
}

.footerlist {
     list-style: none;
}

.li {
     margin: 10px;
}

/* PHONE FORMATTING */

@media screen and (max-width: 768px){
     .header {     
     display:flex;
     flex-direction: column;
     justify-content: center;
     }
  }

  @media screen and (max-width: 768px){
     .toptxt {
          margin-left: 10px;     
     }
  }

  @media screen and (max-width: 768px){
     .toptxt2 {
          margin-left: 10px;     
     }
  }

  @media screen and (max-width: 768px){
     .searchbar__button {
          border-radius: 5px;    
     }
  }

@media screen and (max-width: 768px){
     .nav-bars{
       flex-direction: row;
       flex-wrap: wrap;
       clear: right;
       
     }
  }

  @media screen and (max-width: 768px){
     .filter{
       
       clear: both;
       
     }
  }

  @media screen and (max-width: 768px){
     .bottxt {
       display: none;
     }
  }

@media screen and (max-width: 768px){
     .reversal {
          flex-direction: column-reverse;
     }
}


@media screen and (max-width:768px) {
     .container-accom {
          flex-direction: column;
          width: 100%;
          margin: 0px;
          min-width: 330px;
          border-radius: 0px;
          background-color: white;
          }
   }

   @media screen and (max-width:768px) {
     .achead {
          margin-left: 20px;
          }
   }

@media screen and (max-width:768px) {
     .accomcard {
          width: 90%;
          max-width: 100%;
          clear: both;
          min-width: 300px;

          }
   }

   @media screen and (max-width:768px) {
     .card-image{
          height: 200px;
          width: 100%;
          border-radius: 30px 30px 0 0;
          object-fit:cover;
          }
   }

@media screen and (max-width:768px) {
     .container-pop {
          flex-direction: column;
          width: 100%;
          max-width: 100%;
          clear: both;
          margin: 0px;
          border-radius: 0px;

          }
   }

   @media screen and (max-width:768px) {
     .popcard {
          width: 90%;
          max-width: 100%;
          }
   }

   @media screen and (max-width:768px) {
     .popcard img {
          width: 50%;
          max-width: 100%;
          }
   }

@media screen and (max-width: 768px){
   .container-act {
     flex-direction: column;
     width: 100%;
     min-width: 300px;
   }
}

@media screen and (max-width: 768px){
     .acttxt {     
       padding-left: 0px;
       margin-left: 0px;
     }
  } 

@media screen and (max-width: 768px){
     .actcard1 {
       
       width: 90%;
       max-height: 40%;
       min-width: 300px;
       padding-left: 0px;
       margin-left: 0px;
       height: auto;
     }
  }

  @media screen and (max-width: 768px){
     .card-image3 {
          height: 200px;
          width: 100%;
          border-radius: 30px 30px 0 0;
          object-fit:cover;
       
     }
  }
  

  @media screen and (max-width: 768px){
     .actcard2 {     
       width: 90%;
       min-width: 300px;
       padding-left: 0px;
       margin-left: 0px;
     }
  } 

  @media screen and (max-width: 768px){
     .footer {     
     flex-direction: column;
     text-align: start;
     padding-left: 14px;
     }
  }

  @media screen and (max-width: 768px){
     .container {     
     justify-content: flex-start;
     align-content: space-between;
     margin-top: 20px;
     margin-bottom: 20px;
     }
  }

  @media screen and (max-width: 768px){
     .topbutton {     
     border: 0px;
     padding: 0px;
     margin: 0px;
     margin-left: 10px;
     margin-right: 10px;
     border-bottom-color: grey;
     border-bottom-style: solid;
     border-bottom-width: medium;
     padding-bottom: 10px;
     width: 50%;
     }
  }

  @media screen and (max-width: 768px){
     .topbutton2 {     
     border: 0px;
     padding: 0px;
     margin: 0px;
     border-bottom-color: grey;
     border-bottom-style: solid;
     border-bottom-width: medium;
     padding-bottom: 10px;
     width: 50%;
     }
  }

  @media screen and (max-width: 768px){
     .topbutton2:hover {     
     border-color: #0065FC;
     color: #0065FC;
     }
  }

  @media screen and (max-width: 768px){
     .topbutton:hover {     
     border-color: #0065FC;
     color:#0065FC;
     }
  }

  @media screen and (max-width: 768px){
     .topimg {     
     width: 191px;
     height: 90px;
     }
  }

  /* TALBLET FORMATTING */

    @media screen and (max-width: 992px){
     .container-pop {     
     width: 100%;
     min-width: 900px;
     margin: 0px;
     margin-left: 10px;
     padding: 0px;
     flex-direction: row;
     }
  }

  
  @media screen and (max-width: 992px){
     .container-accom {     
     width: 100%;
     margin: 0px;
     margin-left: 10px;
     padding: 0px;
     }
  }

  @media screen and (max-width: 992px){
     .container-accom {     
     width: 100%;
     margin: 0px;
     margin-left: 10px;
     padding: 0px;
     }
  }
  /* I WANT TO SPLIT SCREEN 50/50 BETWEEN ACCOM AND POPULAR CARDS */

