/* SITE-WIDE */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
     box-sizing: border-box;
     font-family: 'Raleway', sans-serif;
   }

   :root {
     --blue: #0065FC;
     --ligther-blue: #DEEBFF;
     --Gray: #F2F2F2;
 }

* { margin: 0;
     padding: 0;
}

a {
     text-decoration: none;
     color: black; 
   }

@font-face {
     font-family: Raleway;
     src: url('assets\fonts\static\Raleway-Black.ttf');
}

/* HEADER */
.header {
     min-height: 100vh;
     width: 100%;
     
}

.topimg {
     margin-left: 30px;
}



 /*all of these should resize based on screen size*/
.container {
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
 }

 .topbutton {
     font-family: Raleway, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
     margin: 10px;
     border-top: 3px;
     border-style: solid;
     border-left: 0px;
     border-right: 0px;
     border-bottom: 0px;
     padding-top: 88px;
     box-shadow: 2px  rgba(0,0,0,0.5);
     }

 .topbutton:hover{
     color: #0065FC;
     border-color: #0065FC;
     
 }

 
 
 .topbutton2 {
     font-family: Raleway, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     color: gray;
     margin: 10px;
     margin-right: 200px;
     border-top: 3px;
     border-style: solid;
     border-left: 0px;
     border-right: 0px;
     border-bottom: 0px;
     padding-top: 88px;
     padding-right: 30px;
     padding-left: 30px;
}

.topbutton2:hover{
     color: #0065FC;
     border-color: #0065FC;
}

.toptxt {
     margin-left: 30px;
     text-decoration: none;
}

.toptxt a {
     text-decoration: none;
     
}

.toptxt2 {
     margin-left: 30px;
     text-decoration: none;
}

.toptxt2 a{
text-decoration: none;
}
/* NAV */
.nav{
     margin-left: 10px;
}

/* .search{
     display: flex;
     flex-direction: row;
     margin-top: 20px;
     margin-bottom: 20px;
     margin-left: 30px;
     width: 100%;
     max-width: 300px;
}

.icon{
     background-color:#F2F2F2 ;
     padding: 10px;
     border-top-left-radius: 5px;
     border-bottom-left-radius: 5px;
}

 .searchform {
     border-width: 1px;
     border-style: solid;
     border-color: #F2F2F2;
     flex-grow: 1;
     outline: none;
     padding: 10px;
 }

.searchbutton{
     border-top-right-radius: 5px;
     border-bottom-right-radius: 5px;
     background-color: blue ;
     padding: 10px;
     color: white;
} */

.site-logo {
     position: relative;
     height: 60px;
     margin: 25px 0 40px;
     right: 20px;
 }
 
 .site-logo-mobile {
     display: none;
 }
 
 .site-header,
 .site-search-form-section {
     margin-top: 10px;
     margin-left:80px;
 }
 
 .site-heading {
     font-size: 25px;
     margin: 10px 0;
     font-weight: bolder;
 }
 
 .site-subheading {
     font-size: 26px;
     font-weight: 500;
     margin-bottom: 50px;
 }

 .site-nav {
     position: absolute;
     top: 0px;
     right: 60px;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     font-weight: 300;
     font-size: 22px;
 }
 
 
 .nav-text {
     display: block;
     border-top: white 3px solid;
     padding-top: 50px;
     width: 200px;
     text-align: center;
     font-weight: 500;
     cursor: pointer;
     font-size: 18px;
 }
 
 .nav-text:hover {
     color: var(--blue);
     border-top: var(--blue) 3px solid;
 }

.site-search-form {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.form-icon-background {
    height: 70px;
    width: 80px;
    display: inline-block;
    margin-right: 0px;
    border-radius: 20px 0 0 20px;
    background-color: var(--Gray);
    padding: 20px;
}

.form-icon {
    font-size: 30px;
    margin-left: 8px;
}

.form-text-field {
    border: var(--Gray) 1px solid;
    margin: 0;
    height: 70px;
    width: 18%;
    font-weight: 700;
    padding-left: 20px;
    color: black;
    font-size: 24px;
}

.form-button {
    height: 70px;
    width: 120px;
    border-radius: 0 25px 25px 0;
    margin-left: -5px;
    color: white;
    font-size: 24px;
    font-weight: 500;
    background-color: var(--blue);
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.form-button:hover {
    background-color: darkblue;
}

.form-button-mobile {
    display: none;
}

.filter-section {
     display: flex;
     flex-direction: column;
     align-content: center;
     margin-left: 90px;
 
 }
 
 .filter-title {
     position: relative;
     top: 55px;
     font-size: 28px;
 }
 
 
 .filters {
     width: 55%;
     margin: 10px 0;
     margin-left: 120px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     font-size: 24px;
     flex-wrap: wrap;
 }
 
 
 
 .filter-item {
     height: 60px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     border-radius: 50px;
     border: var(--Gray) 3px solid;
     border-left: none;
     font-weight: 700;
     cursor: pointer;
     padding-right: 5px;
     transition: ease-in-out 0.5s;
     padding: 20px 20px 20px 0;
 }
 
 .filter-item:hover {
     border-color: var(--ligther-blue);
     background-color: var(--ligther-blue);
 }
 
 
 .filter-icon-background {
     background-color: #DEEBFF;
     border-radius: 50px;
     width: 60px;
     height: 60px;
     padding: 16px;
     text-align: center;
 }
 
 .item-icon {
     color: var(--blue);
 }
 
 .item-text {
     padding-left: 10px;
 }

 .tooltip {
     display: flex;
     justify-content: space-between;
     align-items: baseline;
     width: 500px;
     font-size: 20px;
     margin:30px 0; 
 }
 
 .tooltip-icon {
     border: var(--Gray) 2px solid;
     border-radius: 20px;
     padding: 4px 8px;
     color: var(--blue);
 }
 
 .tooltip-text {
     padding-left: 5px;
 }

.searchbar {
     width: 100%;
     max-width: 300px;
     display: inline-flex;
     margin-left: 30px;
     margin-bottom: 30px;
     margin-top: 30px;
}

.searchbar__input{
     flex-grow: 1;
     padding: 10px;
     outline: none;
     border: 3px solid #F2F2F2;
     
     background: white;
     transition: background 0.25s, box-shadow 0.25s;
}

.searchbar__input:focus{
     background: white;
     box-shadow: 0 0 2px #0065FC;
}
     
.searchbar__input::placeholder{
     color: black
     
}

.searchbar__button {
     width: 60px;
     background: #0065FC;
     color: white;
     outline: none;
     border: none;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 0 5px 5px 0;
     cursor: pointer;
     user-select: none;
     padding: 0px;
}

.searchbar__button:active {
     box-shadow: inset 0 0 30px ;
}

.icon{
     background-color:#F2F2F2 ;
     padding: 10px;
     border-top-left-radius: 5px;
     border-bottom-left-radius: 5px;
     justify-content: center;
     align-items: center;
}

 .filter{
     margin-left: 40px;
     margin-right: 40px;
}

.nav-bars{
     display: flex;
     flex-direction: row
}

.navcostbutton{
     border-style: solid;
     border-width: 3px;
     border-color: #F2F2F2;
     border-radius: 20px;
     margin-right: 20px;
     padding: 9px 5px 9px 0px;
     margin-bottom: 10px;
     outline: none;
}

.cost1{
     color:#0065FC ;
     background-color: #DEEBFF;
     border-radius: 20px;
     border-style: solid;
     border-color: #DEEBFF;
     padding: 9px;
     margin-right: 10px;
     margin-bottom: 5px;
}

.family1{
     color:#0065FC ;
     background-color: #DEEBFF;
     border-radius: 100px;
     border-style: solid;
     border-color: #DEEBFF;
     padding: 7px;
     padding-left: 12px;
     padding-right: 12px;
     margin-right: 10px;
     margin-bottom: 10px;
     margin-top: 20px;
}

.roman1{
     color:#0065FC ;
     background-color: #DEEBFF;
     border-radius: 20px;
     border-style: solid;
     border-color: #DEEBFF;
     padding: 7px;
     margin-right: 10px;
     margin-bottom: 10px;
}

.pet1{
     color:#0065FC ;
     background-color: #DEEBFF;
     border-radius: 20px;
     border-style: solid;
     border-color: #DEEBFF;
     padding: 7px;
     margin-right: 10px;
     margin-bottom: 10px;
}

.navfamilybutton{
     border-style: solid;
     border-width: 3px;
     border-color: #F2F2F2;
     border-radius: 20px;
     margin-right: 20px;
     padding: 9px 5px 9px 0px;
     margin-bottom: 10px;
}

.navromanbutton{
     border-style: solid;
     border-width: 3px;
     border-color: #F2F2F2;
     border-radius: 20px;
     margin-right: 20px;
     padding: 9px 5px 9px 0px;
     margin-bottom: 10px;
}

.navpetbutton{
     border-style: solid;
     border-width: 3px;
     border-color: #F2F2F2;
     border-radius: 20px;
     margin-right: 20px;
     padding: 9px 5px 9px 0px;
     margin-bottom: 10px;
}

.infotxt {
     margin-left: 30px;
     margin-bottom: 20px;
     margin-top: 10px;
}

.infosign {
     border-radius: 40px;
     border-style: solid;
     border-color: gray;
     border-width: 2px;
     color: #0065FC;
     padding: 3px 8px 3px 8px;
}

.container-accom {
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     background-color: #F2F2F2;
     border-radius: 10px;
     width: 65%;
     margin-left: 30px;
     margin-right: 30px;
     float: left;
     justify-content: space-evenly;
     min-width: 60%;

}

/* ASIDE (ACCOM) */

.achead {
     margin-top: 20px;
     margin-right: 70%;
     clear: both;
     padding: 10px;
     font-weight: 900;
}

.accomcard {

     background-color: white;
     border-color: white;
     border-style: solid;
     border-width: 5px;
     border-radius: 30px;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
     width:350px;
     height: 50%;
     margin: 20px;
}

 /* .accomcard img {
     
     object-fit:scale-down;
     width: 100%;
     height:auto;
     border-top-left-radius: 30px;
     border-top-right-radius: 30px;
     margin: auto;
     
} */
/* RESIZE IMAGES TO IMAGE 1 SIZE  */
.card-image {
     height: 60%;
     width: 100%;
     border-radius: 30px 30px 0 0;
     object-fit: cover;
 }

 .card-image2 {
     height: 200px;
     width: 100%;
     border-radius: 30px 30px 0 0;
     object-fit:cover;
 }

/* adjust card image heights for images so lines 1 and 2 are same height */
.cardtxt {
     margin-left: 7px;
     line-height: 1.5;
}

/* .img1{
     width: 200px;
     height: 200px;
     object-fit: cover;
} */

.bgimg {
     background-image: url('images/accomodation/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg');
}

.bottxt {
     margin-right: 80%;
     margin-bottom: 30px;
     margin-top: 20px;
}

.container-pop {
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     background-color: #F2F2F2;
     border-radius: 10px;
     max-width: 30%;
     margin-left: 40px;
     

}

.bluestar {
     color: #0065FC;
}

.greystar {
     color: #F2F2F2;
}

/* ARTICLE (POPULAR) */
.poptxt {
     margin-left: 30px;
     margin-top: 40px;
}

.popstar {
     float: right;
     margin-right: 100px;
}

.popcard {
     justify-content: space-between;
     background-color: white;
     border-color: white;
     border-style: solid;
     border-width: 5px;
     border-radius: 30px;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
     width: 80%;
     margin-top: 23px;
     margin-left: 30px;
     margin-bottom: 20px;
     height: 30%;
     flex-flow: column;
     flex-wrap: wrap;
     text-decoration: none;
     color: black;
     
}

.popcard img {
     object-fit: cover;
     width: 40%;
     height: 200px;
     border-top-left-radius: 30px;
     border-bottom-left-radius: 30px;
     float: left;
     margin-right: 10px;
}

.popcard p {
     line-height: 4;
     margin-bottom: 20px;
     text-decoration: none;
     color: black;
     margin-left: 10px;
}

.popcard h3 {
     padding-top: 20px;
     margin-left: 10px;
}

.acttxt{
     clear: both;
     margin-left: 30px;
     margin-top: 70px;
     padding: 10px;
}


.container-act {
     display: flex;
     flex-wrap: nowrap;
     flex-direction: row;
     max-width: 92%;
     width: 92%;
     clear: both;
     margin: 30px;
     margin-top: 10px;
     height: auto;
     justify-content: space-between;
}

.subcont-act {
     display: flex;
     flex-direction: column;
     height: 100%;
}

.actcard1 {

     background-color: white;
     border-color: white;
     border-style: solid;
     border-width: 0px;
     border-radius: 30px;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
     width:20%;
     height: 100%;
     margin: 25px;
}

.actcard2 {
     background-color: white;
     border-radius: 30px;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
     width:350px;
     height: 50%;
     margin: 20px;
}

.card-image3 {
     height: 480px;
     width: 100%;
     border-radius: 30px 30px 0 0;
     object-fit:cover;
}

.cardtxt {
     margin-left: 40px;
     text-decoration: none;
     color: black;
}

.cardtxt2 {
     margin: 15px;
     text-decoration: none;
     color: black;
}

.card-image4 {
     height: 100%;
     width: 100%;
     border-radius: 30px 30px 0 0;
     object-fit: cover;
 }

.footer {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     position:static;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: #F2F2F2;
     color: black;
     text-align: left;
     line-height: 2;
     padding-top: 40px;
     padding-bottom: 30px;
}

.footerlist {
     list-style: none;
}

.li {
     margin: 10px;
}

/* PHONE FORMATTING */

@media screen and (max-width: 768px){
     .header {     
     display:flex;
     flex-direction: column;
     justify-content: center;
     }

     .toptxt {
               margin-left: 10px;     
          }

     .toptxt2 {
          margin-left: 10px;     
          }

     .searchbar__button {
          border-radius: 5px;    
          }

     .nav-bars{
       flex-direction: row;
       flex-wrap: wrap;
       clear: right;
          }
      
     .filter{
          clear: both;
     } 

     .bottxt {
          display: none;
          }

     .reversal {
          flex-direction: column-reverse;
          }

     .container-accom {
     flex-direction: column;
     width: 100%;
     margin: 0px;
     min-width: 330px;
     border-radius: 0px;
     background-color: white;
     } 
     
     .achead {
          margin-left: 20px;
          }

     .accomcard {
          width: 90%;
          max-width: 100%;
          clear: both;
          min-width: 300px;
          }     

     .card-image{
          height: 200px;
          width: 100%;
          border-radius: 30px 30px 0 0;
          object-fit:cover;
          }   
          
     .container-pop {
     flex-direction: column;
     width: 100%;
     max-width: 100%;
     clear: both;
     margin: 0px;
     border-radius: 0px;
     }

     .popcard {
     width: 90%;
     max-width: 100%;
     }  

     .popcard img {
          width: 50%;
          max-width: 100%;
          }

     .container-act {
          flex-direction: column;
          width: 100%;
          min-width: 300px;
     }

     .acttxt {     
          padding-left: 0px;
          margin-left: 0px;
          }

     .actcard1 {
     
          width: 90%;
          max-height: 40%;
          min-width: 300px;
          padding-left: 0px;
          margin-left: 0px;
          height: auto;
          }
     
     .card-image3 {
          height: 200px;
          width: 100%;
          border-radius: 30px 30px 0 0;
          object-fit:cover;
          
     }

     .actcard2 {     
          width: 90%;
          min-width: 300px;
          padding-left: 0px;
          margin-left: 0px;
          }

     .footer {     
     flex-direction: column;
     text-align: start;
     padding-left: 14px;
     margin-bottom: 30px;
     padding-bottom: 10px;
     }  

     .container {     
          justify-content: flex-start;
          align-content: space-between;
          margin-top: 20px;
          margin-bottom: 20px;
          }

     .topbutton {     
          border: 0px;
          padding: 0px;
          margin: 0px;
          margin-left: 10px;
          margin-right: 10px;
          border-bottom-color: grey;
          border-bottom-style: solid;
          border-bottom-width: medium;
          padding-bottom: 10px;
          padding-right: 210px;
          width: 50%;
          }

     .topbutton2 {     
          border: 0px;
          padding: 0px;
          margin: 0px;
          border-bottom-color: grey;
          border-bottom-style: solid;
          border-bottom-width: medium;
          padding-bottom: 10px;
          padding-right: 250px;
          width: 50%;
          }

     .topbutton2:hover {     
          border-color: #0065FC;
          color: #0065FC;
          }

     .topbutton:hover {     
          border-color: #0065FC;
          color:#0065FC;
          } 

     .topimg {     
     width: 191px;
     height: 90px;
     }
  }

  /* TALBLET FORMATTING */

@media only screen and (min-width: 769px) and (max-width: 992px){
     .container-pop {     
     width: auto;
     min-width: 768px;
     margin: 0px;
     padding: 0px;
     flex-direction: row;
     border-radius: 0px;
     }
  }

  
@media screen and (max-width: 992px){
     .container-accom {     
          flex-direction: column;
          width: 100%;
          margin: 0px;
          min-width: 330px;
          border-radius: 0px;
          background-color: white;
          }

     .container-act {     
          margin: 0px;
          margin-left: 10px;
          padding: 0px;
          flex-direction: column;
          width: 100%;
          min-width: 600px;
          }    

     .actcard2 {     
     width: 90%;
     min-width: 300px;
     padding-left: 0px;
     margin-left: 0px;
     }   

     .actcard1 {
       width: 90%;
       max-height: 40%;
       min-width: 600px;
       padding-left: 0px;
       margin-left: 0px;
       height: auto;
     }

     .card-image3 {
          height: 200px;
          width: 100%;
          border-radius: 30px 30px 0 0;
          object-fit:cover;
       
     }
   }
  
 /* NOTES FROM A SECOND PASS
   I was able to even out padding and some font sizes a little better, it was generally too large
   font sizes were particularly bad on the header segment and in the footer
   footer re-justified to left and given appropriate margins/padding too
   padding changes were on "accomodations in marseille" text, "most popular" text, search bar for size
   Search bar was made smaller, fontawesome star was added next to most popular
   CSS for media queries was formatted to be made more readable (still somewhat out of order)
   I wanted to correct font weights and there are some values of that scattered around, but apparently some custom fonts don't come with it
   Also changed the way certain images fill out so they don't look as bad when squished by changing to object-fit: cover;
   I'd have liked to push the blue stars in the "most popular" cards to the bottom but it's best to just submit the second pass instead of taking far too long
 */